<p-toast></p-toast>
<p-panel>
  <ng-template pTemplate="header">
    <span
      class="text-primary font-semibold text-5xl ml-auto justify-content-center">View Classroom Calendar</span>
  </ng-template>
  <ng-template pTemplate="body">
    <div>
      <span class="pi pi-asterisk" style="color: red;font-size: 0.75rem"></span>
      <label class="font-bold text-xl">Select a room</label>
      <div>
        <p-dropdown [options]="classroomList" optionLabel="name" optionValue="id"
                    placeholder="Room Location" [filter]="true" [(ngModel)]="roomId" (onChange)="getData()">
        </p-dropdown>
      </div>
    </div>
    <br>
    <div>
      <mwl-calendar-week-view [viewDate]="viewDate" [daysInWeek]="daysInWeek" [events]="events">
      </mwl-calendar-week-view>
    </div>
  </ng-template>
</p-panel>
