<p-toast></p-toast>

<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 surface-card">
  <form
    *ngIf="!isLoggedIn"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="text-center mb-5">
      <img
        src="assets/images/blocks/logos/hyper.svg"
        alt="Image"
        height="50"
        class="mb-3"
      />
      <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
      <span class="text-600 font-medium line-height-3"
        >Don't have an account?</span
      >
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
        >Create today!</a
      >
    </div>
    <div>
      <div>
        <label class="block text-900 font-medium mb-2">Username</label>
        <input
          type="text"
          placeholder="Username"
          pInputText
          class="w-full mb-3 form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
          Username is required!
        </div>
      </div>
      <div>
        <label class="block text-900 font-medium mb-2">Password</label>
        <input
          placeholder="Password"
          pInputText
          class="w-full mb-3"
          type="password"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="4"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 4 characters
          </div>
        </div>
      </div>
      <button
        pButton
        pRipple
        label="Sign In"
        icon="pi pi-user"
        class="w-full"
      ></button>
      <div class="form-group">
        <div
          *ngIf="f.submitted && isLoginFailed"
          class="alert alert-danger"
          role="alert"
        >
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </div>
  </form>
  <div class="alert alert-success" *ngIf="isLoggedIn">
    Logged in as {{ roles }}.
  </div>
</div>

<!--<p-toast></p-toast>-->
<!--<div class="col-md-12">-->
<!--  <div class="card card-container">-->
<!--    <img-->
<!--      id="profile-img"-->
<!--      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"-->
<!--      class="profile-img-card"-->
<!--    />-->
<!--    <form-->
<!--      *ngIf="!isLoggedIn"-->
<!--      name="form"-->
<!--      (ngSubmit)="f.form.valid && onSubmit()"-->
<!--      #f="ngForm"-->
<!--      novalidate-->
<!--    >-->
<!--      <div class="form-group">-->
<!--        <label>Username</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          name="username"-->
<!--          [(ngModel)]="form.username"-->
<!--          required-->
<!--          #username="ngModel"-->
<!--          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"-->
<!--        />-->
<!--        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">-->
<!--          Username is required!-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label>Password</label>-->
<!--        <input-->
<!--          type="password"-->
<!--          class="form-control"-->
<!--          name="password"-->
<!--          [(ngModel)]="form.password"-->
<!--          required-->
<!--          minlength="4"-->
<!--          #password="ngModel"-->
<!--          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"-->
<!--        />-->
<!--        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">-->
<!--          <div *ngIf="password.errors['required']">Password is required</div>-->
<!--          <div *ngIf="password.errors['minlength']">-->
<!--            Password must be at least 6 characters-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <button class="btn btn-primary btn-block">Login</button>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <div-->
<!--          *ngIf="f.submitted && isLoginFailed"-->
<!--          class="alert alert-danger"-->
<!--          role="alert"-->
<!--        >-->
<!--          Login failed: {{ errorMessage }}-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->

<!--    <div class="alert alert-success" *ngIf="isLoggedIn">-->
<!--      Logged in as {{ roles }}.-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
