<p-toast></p-toast>
<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">HUST</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin-dashboard" class="nav-link" routerLink="admin-dashboard"
          >Admin Dashboard</a
        >
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a
          href="/manage-reservation"
          class="nav-link"
          routerLink="manage-reservation"
          >Manage Reservations</a
        >
      </li>
      <li class="nav-item" *ngIf="showTeacherBoard">
        <a href="/teacher" class="nav-link" routerLink="teacher"
          >Teacher Board</a
        >
      </li>
      <li class="nav-item">
        <a
          href="/my-reservation"
          class="nav-link"
          *ngIf="isLoggedIn"
          routerLink="my-reservation"
          >My Reservations</a
        >
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/manage-user" class="nav-link" routerLink="manage-user"
          >Manage Users</a
        >
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a
          href="/place-reservation"
          class="nav-link"
          routerLink="place-reservation"
          >Place Reservation</a
        >
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/calendar-view" class="nav-link" routerLink="calendar-view">Calendar View</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <i class="pi pi-bell text-3xl p-text-secondary mr-2" pBadge value="200" style="font-size: 2rem"></i>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{
          username
        }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
