<div
  class="flex align-items-center justify-content-between flex-wrap content-header"
>
  <form
    [formGroup]="formSearch"
    class="flex flex-wrap filter panel-search w-full"
  >
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <div class="calendar-container">
          <p-calendar
            [formControlName]="SEARCH_FORM_CONTROL.START_DATE.NAME"
            dateFormat="dd/mm/yy"
            placeholder="Start Date"
            [showTime]="true"
            [showSeconds]="true"
            [showIcon]="true"
            [readonlyInput]="true"
            selectionMode="single"
            view="date"
          >
          </p-calendar>
        </div>
        <div class="calendar-container">
          <p-calendar
            [formControlName]="SEARCH_FORM_CONTROL.END_DATE.NAME"
            placeholder="End Date"
            dateFormat="dd/mm/yy"
            [showIcon]="true"
            [showTime]="true"
            [showSeconds]="true"
            [readonlyInput]="true"
            selectionMode="single"
            view="date"
          >
          </p-calendar>
        </div>
      </div>
      <p-multiSelect [options]="status" [filter]="true" placeholder="Status"
                     optionValue="id" optionLabel="name" [formControlName]="SEARCH_FORM_CONTROL.STATUS.NAME"
                    ></p-multiSelect>
        <button
          pButton
          type="button"
          label="Search"
          pTooltip="Search"
          (click)="onSearch()"
          tooltipPosition="bottom"
          class="mr-2 cp-button"
        ></button>
      <div class="p-toolbar-group-right">
        <button
          pButton
          type="button"
          icon="pi pi-sync"
          label="Reset Form"
          tooltipPosition="bottom"
          pTooltip="Reset Form"
          class="mr-2 cp-button"
          (click)="resetForm()"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-file-export"
          pTooltip="Export Excel"
          label="Export Excel"
          tooltipPosition="bottom"
          (click)="exportExcel()"
          class="cp-button mr-2"
        ></button>
        <button pButton label="Calendar View"
                type="button" icon="pi pi-calendar"
                (click)="isVisibleCalendar=true"
                pTooltip="View all ACCEPTED reservations in calendar view"
                class="cp-button mr-2">
        </button>
      </div>
    </p-toolbar>
  </form>
</div>
<div>
  <p-toast></p-toast>
  <p-table [responsive]="true"
    [autoLayout]="true"
    [columns]="cols"
    [value]="content"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="10"
  >
    <ng-template pTemplate="header" let-columns>
      <p-confirmDialog
        header="Confirmation"
        icon="pi pi-exclamation-triangle"
      ></p-confirmDialog>
      <tr>
        <th *ngFor="let col of columns"><strong>{{ col.header }}</strong></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-index="rowIndex">
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{data.reservation_id}}</td>
        <td>{{data.username}}</td>
        <td>{{data.email}}</td>
        <td>{{data.create_time|dateFormat: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{data.reservation_description}}</td>
        <td>
          {{data.reservation_start_time|dateFormat: 'dd/MM/yyyy HH:mm:ss'}}
        </td>
        <td>{{data.reservation_end_time|dateFormat: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{data.room_id}}</td>
        <td>
          <p-tag class="custom-tag-installed" *ngIf="data.status === '1'"
            >ACCEPTED</p-tag
          >
          <p-tag class="custom-tag-deleted" *ngIf="data.status === '2'"
            >REJECTED</p-tag
          >
          <p-tag class="custom-tag-warning" *ngIf="data.status === '0'"
            >PROCESSING</p-tag
          >
        </td>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            (click)="deleteReservation(data)"
            pTooltip="Delete Reservation"
            class="cp-button"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            class="cp-button"
            pTooltip="Edit Reservation"
            (click)="editReservation(data)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="11">
          <div class="flex flex-column empty">
            <p-image src="assets/images/Empty.png" alt="empty"></p-image>
            <span> No Data </span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  styleClass="cp-dialog"
  header="Edit Reservation"
  [modal]="true"
  [(visible)]="isVisibleEdit"
  (onHide)="isVisibleEdit = false"
  [style]="{width: '800px', height: '800px'}">

  <div>
    <form class="formgrid grid">
      <div class="col-6">
        <div class="form-group">
          <label>Reservation Start Time</label>
          <p-calendar
            placeholder="Start Date"
            dateFormat="dd/mm/yy"
            [showIcon]="true"
            selectionMode="single"
            (onClose)="validateTime()"
            [showTime]="true"
            [showSeconds]="true"
            [showButtonBar]="true"
            view="date"
            [minDate]="minDate"
            [maxDate]="maxDate"
            [(ngModel)]="startTime"
            [ngModelOptions]="{standalone: true}"
            [required]="true"
          >
          </p-calendar>
          <div *ngIf="!isValid" class="error-validation-message">Start time must be smaller than end time! </div>
        </div>
        <div class="form-group">
          <label>Room ID</label>
          <div>
          <input pInputText  [(ngModel)]="roomId" [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>
        <div class="form-group">
          <label>Reservation ID</label>
          <div>
          <input pInputText [readOnly]="true" [disabled]="true" [ngModel]="reservation_id" [ngModelOptions]="{standalone: true}" readonly>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>Reservation End Time</label>
          <p-calendar
            placeholder="End Date"
            dateFormat="dd/mm/yy"
            (onClose)="validateTime()"
            [minDate]="minDate"
            [maxDate]="maxDate"
            [showButtonBar]="true"
            [showIcon]="true"
            [showTime]="true"
            [showSeconds]="true"
            selectionMode="single"
            [required]="true"
            view="date"
            [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}"
          >
          </p-calendar>
          <div *ngIf="!isValid" class="error-validation-message">End time must be greater than start time! </div>
        </div>
        <div>
          <label>Status</label>
          <p-dropdown [options]="status"
                      [(ngModel)]="currentStatus" [ngModelOptions]="{standalone: true}"
                      [style]="{width: '100%'}"
                      [required]="true"
                      placeholder="Status"
                      optionLabel="name"
                      optionValue="id"
                      class="cp-form-item">
          </p-dropdown>
        </div>
      </div>
      <div class="col-12 field">
        <label>Description</label>
        <div>
          <textarea id="address" type="text" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" readonly disabled rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        </div>
      </div>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      label="Save"
      (onClick)="updateReservationDetail()"
      [disabled]="!isValid"
      styleClass="cp-button">
    </p-button>
    <p-button (click)="isVisibleEdit = false"
              label="Cancel"
              styleClass="cp-button">
    </p-button>
  </ng-template>
</p-dialog>
<p-dialog
  [style]="{width: '1300px', height: '1100px'}"
  styleClass="cp-dialog"
  header="Calendar View"
  [modal]="true"
  [(visible)]="isVisibleCalendar"
  (onHide)="isVisibleCalendar = false">
  <div>
    <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
    </mwl-demo-utils-calendar-header>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [activeDayIsOpen]="true"
        (dayClicked)="dayClicked($event.day)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        (dayHeaderClicked)="changeDay($event.day.date)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
      >
      </mwl-calendar-day-view>
    </div>
  </div>
</p-dialog>
