<p-toast></p-toast>
<div class="col-md-12">
  <div class="card card-container">
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm">
      <div class="form-group">
        <label>Email Address</label>
        <input
          type="email"
          pInputText
          class="w-full mb-3"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          [pKeyFilter]="blockSpace"
          #email="ngModel"
          [ngClass]="{ 'is-invalid':  email.errors && email.touched}"
        />
        <div class="invalid-feedback" *ngIf="email.errors && email.touched">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block"
                  [disabled]=" email.errors">Reset your password
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

