/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  width: 100%; /* Set the width as needed, e.g., 80% of the parent container */
 max-width: 1700px/* Optionally set a maximum width */
}
.chart-title {
  display: flex;
  justify-content: center;
  color: var(--neutral-140, #303947);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 8px;
}

p-treetable,
p-table {
  &.p-treetable,
  &.p-datatable {
    table {
      border-spacing: 0;
      border-collapse: separate;
    }

    &.border-table {
      border: solid 2px #f8fafc;
      border-radius: 12px;
    }

    .p-treetable-scrollable-wrapper,
    & . p-datatable-scrollable-vertical {
      .p-datatable-wrapper {
        scrollbar-gutter: stable;
        margin-right: -16px;
        padding-right: 8px;

        &::-webkit-scrollbar {
          width: 8px;
          height: unset;
        }
      }
    }

    .p-treetable-scrollable-wrapper,
    .p-datatable-wrapper {
      &::-webkit-scrollbar {
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        background: $ neutral-300;
        border-radius: 200px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(100, 116, 139, 0.5);
        border-radius: 200px;
      }
    }
  }
}
.custom-tag-installed {
  .p-tag {
    background-color: #e8fff3;
    color: #0fb215;
    border: 6px;
  }
}
.custom-tag-deleted {
  .p-tag {
    background-color: #fff5f5;
    color: #e53131;
    border: 6px;
  }
}
.custom-tag-warning {
  .p-tag {
    background-color: #fff8dd;
    color: #ffc700;
    border: 6px;
  }
}
.p-treetable-scrollable-header,
.p-datatable {
  .p-treetable-thead,
  .p-datatable-thead {
    tr {
      th {
        vertical-align: top;
      text-align: center;
        background: $neutral-100;
        color: $primary;
        font-size: 14px;
        border: 1px solid $neutral-300;
        border-width: 0 1px 1px 0;
        padding: $spacing-xs;
        justify-content: center;
        white-space: nowrap;

        &:last-child {
          border-width: 0 0 1px 0;
        }
      }

      &:first-child {
        th {
          &:first-child {
            border-top-left-radius: 12px;
          }

          &:last-child {
            border-top-right-radius: 12px;
          }
        }
      }

      &:last-child {
        th {
          border-bottom: none;
        }
      }
    }
  }

  .p-datatable-tbody {
    tr {
      color: $neutral-800;

      td {
      //text-align: center;
        border-color: $neutral-300;
        padding: $spacing-s;

        &.detail {
          color: $blue;
          cursor: pointer;
        }
      }

      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }

  .p-datatable-tfoot {
    tr {
      td {
        color: $neutral-600;
        text-align: center;
        border-bottom: none;
        background: $neutral-100;
      }
    }
  }

  .p-sortable-column {
    &.p-highlight {
      background: #f8fafc !important;
      color: #005baa !important;
    }
  }
}
.cp-button {
  background: $ primary;
  border-radius: 6px;
  padding: 12px;
  font-weight: 600;
  border: 1px solid $ primary;
  min-width: 44px !important;

  &.bt-form {
    width: unset;
    padding: 8px 16px;
  }

  &:enabled {
    &:active,
    &:focus {
      background: $ primary;
    }

    &:hover {
      background: $ blue;
    }
  }

  .p-button-icon {
    &::before {
      font-size: 24px;
    }
  }

  &.outline {
    color: $ primary;
    background: $ neutral-100;
    transition: all linear 0.3s;

    &:active,
    &:focus {
      background: $ white;
    }

    &:hover {
      color: $ primary;
      background: #fff;
      border: 1px solid $ primary;
      opacity: 0.8;
    }
  }

  &.danger {
    background: $ red-light;
    color: $ red;
    transition: all linear 0.3s;
    border: 1px solid $ red;

    &:active,
    &:focus {
      background: $ red-light;
    }

    &:hover {
      color: $ red;
      background: $ red-light;
      border: 1px solid $ red;
      opacity: 0.8;
    }
  }

  &.neutral {
    background: $ neutral-200;
    color: $ primary;
    transition: all linear 0.3s;
    border: 1px solid $ neutral-200;

    &:active,
    &:focus {
      background: $ neutral-200;
    }

    &:hover {
      color: $ primary;
      background: $ neutral-200;
      border: 1px solid $ neutral-200;
      opacity: 0.8;
    }

    &:disabled {
      background: $ neutral-100 !important;
    }
  }
}

.p-datepicker .p-datepicker-calendar .p-datepicker-day.p-disabled {
  background-color: #f5f5f5; /* Light gray background */
  color: #595656; /* Light gray text color */
  cursor: not-allowed; /* Indicate that it's not clickable */
  opacity: 90%; /* Optional: Adjust opacity to make it look more disabled */
}
.p-datepicker td>span {
    width: 20px !important;
    height: 20px !important;
}
.cp-table {
  &.p-datatable {
    .p-datatable-wrapper {
      margin-right: -11px;
      padding-right: 5px;

      &::-webkit-scrollbar {
        width: 4px;
      }
    }
  }
}
.cp-dialog {
  box-shadow: $ shadow-1;

  .p-dialog-header {
    color: $ white;
    overflow: hidden;
    background: $ primary;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: $ spacing-s $ spacing-m;

    .p-dialog-title {
      font-weight: 700;
    }

    .p-dialog-header-icon {
      width: 24px;
      height: 24px;
      border-radius: 6px;
    }
  }
  .p-dialog-footer {
    overflow: hidden;
    padding: $ spacing-s $ spacing-m;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

    button {
      margin-left: 12px;
      margin-right: 0;
      width: 108px;
    }
  }
}
.p-calendar {
  &:not(.p-inputtextarea) {
    height: 44px;
  }

  &.p-inputtextarea {
    min-height: 103px;
  }

  border-radius: 6px !important;
  border: 1px solid $neutral-200;

  .p-multiselect-label,
  .p-dropdown-label {
    font-size: 14px;

    &.p-placeholder {
      color: $neutral-500;
    }
  }

  &:enabled:focus,
  &:not(.p-disabled).p-focus {
    box-shadow: none;
    border: 1px solid $primary;
  }

  &:enabled:focus {
    &.ng-invalid.ng-dirty {
      box-shadow: none;
    }
  }
}

&::placeholder,
input::placeholder {
  color: $neutral-500;
}

&:focus {
  box-shadow: none;
  border: 1px solid $neutral-100;
}

.p-button {
  background-color: #0a7ee6;

  &:focus,
  &:hover {
    background-color: #0486fb !important;
  }

  .pi {
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      width: 20px;
      height: 20px;
      display: inline-block;
    }
  }
}
.p-message {
  margin: 0.75rem 0;
  border-radius: 4px;
}

.p-message .p-message-wrapper {
  padding: 1rem 1.25rem;
}

.p-message .p-message-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
}

.p-message .p-message-close:hover {
  background: rgba(255, 255, 255, 0.3);
}

.p-message .p-message-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.p-message.p-message-info {
  background: #b3e5fc;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #01579b;
}

.p-message.p-message-info .p-message-icon {
  color: #01579b;
}

.p-message.p-message-info .p-message-close {
  color: #01579b;
}

.p-message.p-message-success {
  background: #c8e6c9;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #1b5e20;
}

.p-message.p-message-success .p-message-icon {
  color: #1b5e20;
}

.p-message.p-message-success .p-message-close {
  color: #1b5e20;
}

.p-message.p-message-warn {
  background: #ffecb3;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #7f6003;
}

.p-message.p-message-warn .p-message-icon {
  color: #7f6003;
}

.p-message.p-message-warn .p-message-close {
  color: #7f6003;
}

.p-message.p-message-error {
  background: #ffcdd2;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #b71c1c;
}

.p-message.p-message-error .p-message-icon {
  color: #b71c1c;
}

.p-message.p-message-error .p-message-close {
  color: #b71c1c;
}

.p-message .p-message-text {
  font-size: 1rem;
  font-weight: 500;
}

.p-message .p-message-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.p-message .p-message-summary {
  font-weight: 700;
}

.p-message .p-message-detail {
  margin-left: 0.5rem;
}

.p-toast {
  opacity: 0.9;
}

.p-toast .p-toast-message {
  margin: 0 0 1rem 0;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.p-toast .p-toast-message .p-toast-message-content {
  padding: 1.25rem;
  border-width: 0 0 0 0;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 0 0 1rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 2rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-weight: 700;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  margin: 0.5rem 0 0 0;
}

.p-toast .p-toast-message .p-toast-icon-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
}

.p-toast .p-toast-message .p-toast-icon-close:hover {
  background: rgba(255, 255, 255, 0.3);
}

.p-toast .p-toast-message .p-toast-icon-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.p-toast .p-toast-message.p-toast-message-info {
  background: #b3e5fc;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #01579b;
}

.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: #01579b;
}

.p-toast .p-toast-message.p-toast-message-success {
  background: #c8e6c9;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #1b5e20;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: #1b5e20;
}

.p-toast .p-toast-message.p-toast-message-warn {
  background: #ffecb3;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #7f6003;
}

.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
  color: #7f6003;
}

.p-toast .p-toast-message.p-toast-message-error {
  background: #ffcdd2;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #b71c1c;
}

.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: #b71c1c;
}

/* Dialog container */
.p-dialog {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Dialog header style */
.p-dialog .p-dialog-header {
  background-color: #007bff;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 16px;
}

/* Dialog header icon style */
.p-dialog .p-dialog-header .p-dialog-header-icon {
  color: #fff;
}

/* Dialog content style */
.p-dialog .p-dialog-content {
  padding: 16px;
}

/* Dialog footer style */
.p-dialog .p-dialog-footer {
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  padding: 16px;
  text-align: right;
}

/* Button style */
.p-dialog .p-button {
  margin-left: 8px;
}

/* Primary button style */
.p-dialog .p-button-primary {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

/* Secondary button style */
.p-dialog .p-button-secondary {
  background-color: #6c757d;
  color: #fff;
  border-color: #6c757d;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.content-header {
  padding: 10px;
}

.panel-search {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.calendar-container {
  margin-right: 10px; /* Adjust the margin as needed to separate the calendars */
}
.p-multiselect-label-container{
  max-width: 100px;
}
.p-toolbar-group-right {
  margin-left: 50px; /* Moves the button group to the right side of the toolbar */
}
.p-dropdown-panel {
  transform: translateY(4px);
  box-shadow: $shadow-1;

  .p-multiselect-items-wrapper,
  .p-dropdown-items-wrapper {
    padding: 12px 0;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: $ neutral-300;
      border-radius: 200px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(100, 116, 139, 0.5);
      border-radius: 200px;
    }
  }
}
.error-validation-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div.p-multiselect-panel,
.cp-form-item {
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  outline: none;

  &.p-inputtext,
  .p-treeselect,
  .p-dropdown,
  .p-cascadeselect,
  .p-multiselect,
  .p-inputnumber-input,
  .p-calendar {
    &:not(.p-inputtextarea) {
      height: 44px;
    }

    &.p-inputtextarea {
      min-height: 103px;
    }

    border-radius: 6px !important;
    border: 1px solid $neutral-200;
    background: $neutral-200;
    width: 100%;

    .p-treeselect-label,
    .p-multiselect-label,
    .p-dropdown-label {
      font-size: 14px;

      &.p-placeholder {
        color: $neutral-500;
      }
    }

    &:enabled:focus,
    &:not(.p-disabled).p-focus {
      box-shadow: none;
      border: 1px solid $primary;
    }

    &:enabled:focus {
      &.ng-invalid.ng-dirty {
        box-shadow: none;
      }
    }
  }

  .p-multiselect-header {
  flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0;

    .p-multiselect-close {
      display: none;
    }

    .p-checkbox-box::before {
      content: 'All';
      position: absolute;
      width: max-content;
      left: 24px;
      color: rgba(0, 0, 0, 0.87);
    }

    .p-checkbox {
      margin: 12px 9px;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
      color: unset;
    }

    .p-multiselect-filter-container {
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      padding: 9px;

      .p-multiselect-filter-icon {
        right: 1.5rem;
      }
    }
  }

  .p-treeselect-label-container,
  .p-multiselect-label-container {
  display: flex;
    align-items: center;
  }

  .p-dropdown-label {
  display: inline-flex;
    align-items: center;
  }

  &::placeholder,
  input::placeholder {
    color: $neutral-500;
  }

  &:focus {
    box-shadow: none;
    border: 1px solid $primary;
  }

  &.ng-dirty {
    &.ng-invalid,
    &.ng-invalid:focus {
      border-color: #f1416c;

      .p-calendar,
      > .p-treeselect,
      > .p-cascadeselect,
      > .p-multiselect,
      > .p-dropdown {
        border-color: #f1416c;
      }
    }
  }

//super-tech
&.override-dirty {
  &.p-inputtext {
    border: 1px solid $neutral-200 !important;

    &:enabled:hover {
      border-color: rgba(0, 0, 0, 0.87) !important;
    }

    &:enabled:focus {
      box-shadow: none;
      border: 1px solid $primary !important;
    }
  }

  &:enabled:focus,
  &:not(.p-disabled).p-focus {
    box-shadow: none;
    border: 1px solid $primary !important;
  }

  &:enabled:focus {
    &.ng-invalid.ng-dirty {
      box-shadow: none;
    }
  }
}

  &.view-detail {
    .p-component {
      opacity: unset;
    }
  }

  .p-inputnumber-buttons-stacked {
    position: relative;

    .p-inputnumber-input {
      padding-right: 44px;
    }

    .p-inputnumber-button-group {
      display: none;
      top: 0;
      right: 0;
      bottom: 0;
      position: absolute;

      .p-inputnumber-button {
        color: $neutral-900;
        background-color: transparent;
      }
    }
  }

  &.p-inputwrapper-focus {
    .p-inputnumber-button-group {
      display: flex;
    }
  }
}
