/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
body{
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: ghostwhite;
}
.chart-title {
  display: flex;
  justify-content: center;
  color: var(--neutral-140, #303947);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 8px;
}
.p-datatable .p-datatable-tbody > tr {
  border-bottom: 1px solid #d1d1d1;
}
.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr > td {
  border-right: 1px solid #d1d1d1;
}
/* Table background */
.p-datatable .p-datatable-tbody > tr {
  background-color: #f0f0f0;
}

/* Lines between rows and columns */
.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-tbody > tr {
  border: 1px solid #808080;
}

/* Text color */
.p-datatable .p-datatable-tbody > tr > td {
  color: #000000;
}


/* Text alignment */
.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  text-align: center;
  vertical-align: middle;
}
/* Add a border to the filter */
.p-column-filter-row-item {
  border: 1px solid #808080;
  background-color: #f0f0f0;
  text-align: center;
}
.custom-tag-installed {
  .p-tag {
    background-color: #e8fff3;
    color: #0fb215;
    border: 6px;
  }
}
.custom-tag-deleted {
  .p-tag {
    background-color: #fff5f5;
    color: #e53131;
    border: 6px;
  }
}
.custom-tag-warning {
  .p-tag {
    background-color: #fff8dd;
    color: #ffc700;
    border: 6px;
  }
}


:host ::ng-deep .p-calendar{
  border: 2px solid green;
  border-radius: 10px;
}

.p-calendar,
.p-datepicker table td.p-datepicker-today>span,
.p-calendar .p-datepicker,
table td.p-datepicker-today>span:hover {
  background-color: #A2D2FF;
  color: black;
  font-weight: bold;
}

.p-button {
  /*width: 26px;*/
  /*height: 26px;*/
  /*margin: 0 auto;*/
  /*min-width: unset;*/
  /*border-radius: 6px;*/
  /*padding: $ spacing-xxs;*/
  background-color: white;

  &:focus,
  &:hover {
    background-color: $ neutral-300;
  }

  .pi {
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      display: inline-block;
    }

    &.pi-trash {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M17.5 4.98332C14.725 4.70832 11.9333 4.56665 9.15 4.56665C7.5 4.56665 5.85 4.64998 4.2 4.81665L2.5 4.98332' stroke='%231E293B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.08325 4.14163L7.26659 3.04996C7.39992 2.25829 7.49992 1.66663 8.90825 1.66663H11.0916C12.4999 1.66663 12.6083 2.29163 12.7333 3.05829L12.9166 4.14163' stroke='%231E293B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.7084 7.6167L15.1667 16.0084C15.0751 17.3167 15.0001 18.3334 12.6751 18.3334H7.32508C5.00008 18.3334 4.92508 17.3167 4.83341 16.0084L4.29175 7.6167' stroke='%231E293B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.6084 13.75H11.3834' stroke='%231E293B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.91675 10.4166H12.0834' stroke='%231E293B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
    }
    &.pi-upload{
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='vuesax/linear/document-upload'%3E%3Cg id='document-upload'%3E%3Cpath id='Vector' d='M9 17V11L7 13' stroke='%23005BAA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath id='Vector_2' d='M9 11L11 13' stroke='%23005BAA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath id='Vector_3' d='M22 10V15C22 20 20 22 15 22H9C4 22 2 20 2 15V9C2 4 4 2 9 2H14' stroke='%23005BAA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath id='Vector_4' d='M22 10H18C15 10 14 9 14 6V2L22 10Z' stroke='%23005BAA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
    &.pi-sync {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M18.3333 10C18.3333 14.6 14.6 18.3333 9.99996 18.3333C5.39996 18.3333 2.59163 13.7 2.59163 13.7M2.59163 13.7H6.35829M2.59163 13.7V17.8667M1.66663 10C1.66663 5.4 5.36663 1.66666 9.99996 1.66666C15.5583 1.66666 18.3333 6.3 18.3333 6.3M18.3333 6.3V2.13333M18.3333 6.3H14.6333' stroke='%23334155' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  };
}
.p-message {
  margin: 0.75rem 0;
  border-radius: 4px;
}

.p-message .p-message-wrapper {
  padding: 1rem 1.25rem;
}

.p-message .p-message-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-message .p-message-close:hover {
  background: rgba(255, 255, 255, 0.3);
}

.p-message .p-message-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.p-message.p-message-info {
  background: #b3e5fc;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #01579b;
}

.p-message.p-message-info .p-message-icon {
  color: #01579b;
}

.p-message.p-message-info .p-message-close {
  color: #01579b;
}

.p-message.p-message-success {
  background: #c8e6c9;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #1b5e20;
}

.p-message.p-message-success .p-message-icon {
  color: #1b5e20;
}

.p-message.p-message-success .p-message-close {
  color: #1b5e20;
}

.p-message.p-message-warn {
  background: #ffecb3;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #7f6003;
}

.p-message.p-message-warn .p-message-icon {
  color: #7f6003;
}

.p-message.p-message-warn .p-message-close {
  color: #7f6003;
}

.p-message.p-message-error {
  background: #ffcdd2;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #b71c1c;
}

.p-message.p-message-error .p-message-icon {
  color: #b71c1c;
}

.p-message.p-message-error .p-message-close {
  color: #b71c1c;
}

.p-message .p-message-text {
  font-size: 1rem;
  font-weight: 500;
}

.p-message .p-message-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.p-message .p-message-summary {
  font-weight: 700;
}

.p-message .p-message-detail {
  margin-left: 0.5rem;
}

.p-toast {
  opacity: 0.9;
}

.p-toast .p-toast-message {
  margin: 0 0 1rem 0;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.p-toast .p-toast-message .p-toast-message-content {
  padding: 1.25rem;
  border-width: 0 0 0 0;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 0 0 1rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 2rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-weight: 700;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  margin: 0.5rem 0 0 0;
}

.p-toast .p-toast-message .p-toast-icon-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-toast .p-toast-message .p-toast-icon-close:hover {
  background: rgba(255, 255, 255, 0.3);
}

.p-toast .p-toast-message .p-toast-icon-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.p-toast .p-toast-message.p-toast-message-info {
  background: #b3e5fc;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #01579b;
}

.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: #01579b;
}

.p-toast .p-toast-message.p-toast-message-success {
  background: #c8e6c9;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #1b5e20;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: #1b5e20;
}

.p-toast .p-toast-message.p-toast-message-warn {
  background: #ffecb3;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #7f6003;
}

.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
  color: #7f6003;
}

.p-toast .p-toast-message.p-toast-message-error {
  background: #ffcdd2;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #b71c1c;
}

.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: #b71c1c;
}

/* Dialog container */
.p-dialog {
  max-width: 600px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Dialog header style */
.p-dialog .p-dialog-header {
  background-color: #007bff;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 16px;
}

/* Dialog header icon style */
.p-dialog .p-dialog-header .p-dialog-header-icon {
  color: #fff;
}

/* Dialog content style */
.p-dialog .p-dialog-content {
  padding: 16px;
}

/* Dialog footer style */
.p-dialog .p-dialog-footer {
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  padding: 16px;
  text-align: right;
}

/* Button style */
.p-dialog .p-button {
  margin-left: 8px;
}

/* Primary button style */
.p-dialog .p-button-primary {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

/* Secondary button style */
.p-dialog .p-button-secondary {
  background-color: #6c757d;
  color: #fff;
  border-color: #6c757d;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.content-header {
  padding: 10px;
}

.panel-search {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.calendar-container {
  margin-right: 10px; /* Adjust the margin as needed to separate the calendars */
}

.p-toolbar-group-right {
  margin-left: auto; /* Moves the button group to the right side of the toolbar */
}



