<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-6xl font-bold mb-1">An easier way to manage and reserve classrooms</span>
      <div class="text-6xl text-primary font-bold mb-3">for a seamless educational experience</div>
      <p class="mt-0 mb-4 text-700 line-height-3">Ensure a simple process to manage classrooms. </p>

      <button pButton pRipple label="Check for classroom availability" type="button" (click)="placeReservation()"
              class="mr-3 p-button-raised"></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="assets/images/home.jpg" alt="Image" class="md:ml-auto block md:h-full"
         style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-3xl">
    <span class="text-900">One Product, </span>
    <span class="text-blue-600">Many Benefits</span>
  </div>
  <br>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 text-xl mb-3 font-medium">Effortless Booking</div>
      <span class="text-700 line-height-3">Quick and easy reservation process with just a few clicks.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 text-xl mb-3 font-medium">Easy to Use</div>
      <span
        class="text-700 line-height-3">User-friendly interface designed for students, teachers, and administrators.</span>
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-shield text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 text-xl mb-3 font-medium">Trusted Securitty</div>
      <span
        class="text-700 line-height-3">End-to-end encryption ensures your reservation data is safe and secure.</span>
    </div>
  </div>
</div>
