<p-toast></p-toast>
<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="./assets/images/logo.png"
      class="profile-img-card"
      alt="Image"/>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label>Username</label>
        <input
          type="text"
          class="w-full mb-3"
          name="username"
          pInputText
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          [pKeyFilter]="blockSpace"
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Username is required</div>
          <div *ngIf="username.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          class="w-full mb-3"
          name="email"
          pInputText
          [(ngModel)]="form.email"
          required
          [pKeyFilter]="blockSpace"
          email
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          pInputText
          class="w-full mb-3"
          name="password"
          [(ngModel)]="form.password"
          required
          [pKeyFilter]="blockSpace"
          minlength="5"
          #password="ngModel"
          (change)="validatePassword()"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 5 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Re-enter your password</label>
        <input type="password" required class="w-full mb-3" [(ngModel)]="form.confirmPassword" name="confirmPassword"
               [pKeyFilter]="blockSpace" pInputText
               #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': (f.submitted && confirmPassword.errors) || isSamePassword}" (change)="validatePassword()">
        <div class="invalid-feedback" *ngIf="confirmPassword.errors && f.submitted">
          <div *ngIf="confirmPassword.errors['required']">Re-enter Password is required</div>
        </div>
        <div class="invalid-feedback" *ngIf="isSamePassword">Passwords do not match.</div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" [disabled]="isSamePassword">Sign Up</button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
